.intro-section{
    margin: 50px 100px;
    max-width: 500px;
    h1{
        color: rgb(30, 138, 180);
        font-size:4em;
        font-weight: 100;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p{
        line-height: 1.5;
    }
    button{
        background-color: transparent;
        border: 2px solid rgb(25, 110, 179);
        border-radius: 50px;
        padding: 10px 40px;
        color: white;
        cursor: pointer;
    }
    
}