.intro-section{
    margin: 50px 100px;
    max-width: 500px;
    h1{
        color: rgb(38, 78, 124);
        font-size:4em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p{
        color: white;
    }
    button{
        background-color: transparent;
        border: 1px solid black;
        border-radius: 50px;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
    }
}