.our-process{
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    h2{
        padding: 10px;
        border-bottom: 3px solid rgb(20, 78, 143);
        width:30%;
        font-weight: 500;
    }
    .our-process-list{
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        gap: 30px;

        p{
            font-weight: 300;
            font-size: 20px;
            line-height: 35px;
        }
        p:first-child{
            width:70%;
        }
        button{
            width:20%;
            height: 60px;
            border:3px solid transparent;
            // border-radius: 16px;
            border-image:linear-gradient(to right,#0E87C1,#500EC1);
            border-image-slice: 1;
            background-color: transparent;
            color: white;
            &:hover{
                background-color: rgb(17, 75, 141);
            }
            

        }
        .img-box{
            height: full;
            width: 30%;
            img{
                width: 100%;
            }
        }
        .our-process-desc{
            
            width:60%;
            display: flex;
            flex-direction: column;
            h3{
                margin: 0;
                font-size: 70px;
                font-weight: 500;
                color: #0E87C1;
            }
            

        }
    }

}