.our-process{
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    h2{
        padding: 10px;
        border-bottom: 3px solid rgb(20, 78, 143);
        width:30%;
        font-weight: 500;
    }
    .container-1{
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        gap: 30px;

        p{
            font-weight: 300;
            font-size: 20px;
            line-height: 35px;
        }
        p:first-child{
            width:70%;
        }
        button{
            border-radius: 50px;
            width: 20%;
            height: 60px;
            color: white;
            padding:20px 10px;
            background-color: transparent;
            border: 2px solid rgb(17, 75, 141);
            max-height:min-content;
            
        }
        .img-box{
            height: full;
            width: 30%;
            img{
                width: 100%;
            }
        }
        .container-2{
            
            width:60%;
            display: flex;
            flex-direction: column;
            h3{
                margin: 0;
                font-size: 70px;
                font-weight: 500;
                color: #0E87C1;
            }
            

        }
    }

}